{% load static %} {% load compress %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <link rel=" icon" type="image/png" href="{% static 'img/logo.png' %}">
    {% compress css %}
    <link type="text/x-scss" href="{% static 'main.scss' %}" rel="stylesheet" media="screen" />
    {% endcompress %}
    {% block base_styles %}
    {% endblock base_styles %}
    <title>SITE_TITILE</title>
</head>

<body style="position: relative;">
    {% load tz %} {% timezone "Asia/Kolkata" %} {% block base_content %} {% endblock base_content %}
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    {% block base_scripts %} {% endblock base_scripts %}
    {% endtimezone %}
</body>

</html>