SECRET_KEY=""
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""
ALLOWED_HOSTS=""
DB_NAME=""
DB_USER=""
DB_PASS=""
IS_DEV="True"
IS_STAG="False"
IS_PROD="False"
GMAPS_KEY=""
ELK_SECRET_TOKEN=""
ELK_SERVER_URL=""
ELASTIC_APM_ENABLED="False"
