{% extends "base/base.html" %} {% load static %} {% block content %}
<div class="conatiner-fluid" style="overflow-x: hidden;">
    <div class="d-flex align-items-center justify-content-center flex-column" style="min-height: 100vh">
        <p>Forgot password</p>
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <small id="id_usernameHelp" class="form-text text-dark smaller font-weight-bold">Username</small>
                <input type="text" class="form-control py-4" style="min-width: 300px" placeholder="Username"
                    name="username" autofocus="" autocapitalize="none" autocomplete="username" required=""
                    id="id_username" />
            </div>
            <input type="submit" class="btn btn-success w-100 mt-4" value="Reset Password" />
        </form>
    </div>
</div>
{% endblock %}